/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
$bg-color: #282c34;
/* stylelint-disable-next-line value-keyword-case */
$font: "Mulish", sans-serif;
$bg-gradient: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(48, 43, 47, 1) 0%,
  rgba(104, 94, 61, 1) 0%,
  rgba(233, 92, 227, 1) 0%,
  rgba(50, 93, 220, 1) 38%,
  rgba(0, 255, 248, 1) 75%
);
